@media (max-width: 700px){
.loc-head {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-color: #333;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loc-head.active {
    display: flex;
    animation: slide-down 1s forwards;
}

.loc-head li {
    height: 10vh;
    display: flex;
    justify-content: space-around ;

}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

  
    .hamburger {
        /* position: fixed; */
      display: block;
      z-index: 10;
    }
 
  
  
    header h1{
        justify-content: center;
    }
    .section1{
        margin-left: 2rem;
    }
    h1{
        align-items: center;
        justify-content: center;
        color: white;
    }
    .about-me{
        height: auto;
        width: 100vw;
        margin: 1rem;
    }
    .skill{
        margin: auto;
        height: 3rem;
    }
    .icon a img{
        height: 2rem;
    
    }
    .project1 a h2{
        font-size: 1.3rem;
    }

}

@media (max-width: 450px) {

    h1,h2,h3{
        font-size: 1.5rem;
    }
    p{
        font-size: small;
        word-spacing: 0.2rem;
    }
    a{
        font-size: small;

    }
    .project1{
        height: 10rem;
        width: 10rem;
    }
    .skill{
        height: 2.8rem;
        width: 2.8rem;
    }
    .main-head h1 {
        font-size: large;
    }
    
}
